*{
  
    box-sizing: border-box;
}
.mainnav{
    width:100%;
    
    background-color: #16213E;
 
  
   
}
.nav{
    width:30%;
    margin: auto;
    /* border:1px solid red; */
    /* padding:20px; */
    display: flex;
    justify-content: space-around;
   
}
.nav > li {
    padding:20px 15px;
    list-style-type: none;
    font-size: 20px;
    color:#E1FFEE;
    cursor: pointer;

    
}
.nav > li > a {
    text-decoration: none;
    color: #F9F9F9;
}
.nav > li > a:hover{
    color:#FAD9A1;
}


@media (max-width: 480px) {

.nav{
    width:60%
}
.nav > li {
    padding:15px 10px;
    font-size: 15px;
   
}
    

}