* {
  box-sizing: border-box;
}
.mainbgdiv {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  height: 100vh;
}
.maincont {
  padding-top: 10px;
  padding-bottom: auto;
  margin-top: 70px;
}
.hint {
  text-align: center;
  color: #d0c9c0;
  font-weight: 600;
  font-size: 17px;
  background-color: #541212;
  width: 45%;
  margin: auto;
  padding-top: 20px;
  border-radius: 15px 15px 0px 0px;
}
.btn-cont {
  width: 45%;
  margin: auto;
  border: 5px solid #0f0e0e;
  border-top: none;
  background-color: #bccc9a;
}
.timerlogo {
  width: 27px;
}
.titlediv {
  text-align: center;
  padding-top: 5px;
  color: #e2dcc8;
}
.title {
  color: #f54748;
}

.time {
  padding-left: 50px;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffffff;
}

.timediv > p {
  color: #f15412;
}
.time > span {
  font-size: 40px;
}

.btn-div {
  width: 20%;
  margin-left: 40px;
  padding: 5px 10px;
  background-color: #0f0e0e;
  border-radius: 0px 0px 15px 15px;
}

.btn-div > button {
  padding: 100px 0px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.btn1 {
  background-color: #baffb4;
}
.btn2 {
  background-color: #fffda2;
}

.ipdiv {
  width: 45%;
  margin: auto;
  padding: 5px 10px;
  background-color: #541212;
}
.iptext {
  font-size: 20px;
  font-weight: bold;
}
.ipdiv_small {
  text-align: center;
  padding: 5px;
}
.ipdiv_small > button {
  border: none;
  padding: 6px 15px;
}
.ipdiv_small > input {
  height: 29px;
  background-color: #eeeeee;
  color: black;
  border: none;
  border-radius: 5px;
}
::placeholder {
  color: black;
  padding: 2px;
  font-size: 14.5px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .btn-div {
    width: 45%;
    margin: auto;
    padding: 5px;
    display: block;
  }
  .time {
    font-size: 40px;
    padding-left: 58px;
  }
  .btn-div > button {
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .ipdiv_small > input {
    width: 80%;
    height: 20px;
  }
  .ipdiv_small > button {
    padding: 1.5px 10px;
  }
  .iptext {
    font-size: 8px;
  }
  .time > span {
    font-size: 25px;
  }
  .hint {
    padding-top: 6px 1px;
    font-size: 7px;
  }
  .iptext {
    font-size: 10px;
    font-weight: bold;
  }
  .ipdiv_small > input {
    width: 90%;
    height: 20px;
  }
}

@media (min-width: 768px) {
  .btn-div {
    width: 45%;
    display: flex;
    margin-left: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
  }
  .btn-div > button {
    padding: 10px 30px;
    margin-left: 8px;
  }
}
