* {
  box-sizing: border-box;
}
.mainbgdiv{
  /* background-color: red; */
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
  height: 100vh;
}
.maincont{
  /* margin-top: 130px; */
  /* background-color: red; */
  padding-top:10px;
padding-bottom: auto;
margin-top: 70px;
}
.hint{
  text-align: center;
  color:#256D85;
  font-weight: 600;
  font-size: 17px;
  
 }
.btn-cont {
  width: 45%;
  margin: auto;
 border: 5px solid #0F0E0E ;
  border-top: none;
  background-color: #BCCC9A;
  
}
.timerlogo {
  width: 27px;
}
.titlediv {
  text-align: center;
  padding-top: 5px;
  color: #E2DCC8;
 
}
.title{
    color:#F54748;
}

.time {
  padding-left: 50px;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffffff;
}

.timediv > p{
    color:#F15412;
}
.time > span {
  font-size: 40px;
 }

.btn-div {
  width: 20%;
  margin-left: 40px;
  padding: 5px 10px;
  background-color: #0F0E0E;
  border-radius: 0px 0px 15px 15px
}

.btn-div > button {
  padding: 100px 0px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.btn1 {
  background-color: #BAFFB4;
}
.btn2 {
  background-color: #FFFDA2;
}

.ipdiv {
  width: 45%;
  margin: auto;
  padding: 5px 10px;
  background-color: #541212;
  border-radius: 15px 15px 0px 0px
  
}
.iptext{
    font-size: 15px;
    font-weight:200;
}
.ipdiv_small {
  text-align: center;
  padding: 5px;
}
.ipdiv_small > button {
  border: none;
  padding: 6px 15px;
}
.ipdiv_small > input {
  height: 29px;
  background-color:#EEEEEE;
  color:black;
  border: none;
  border-radius: 5px;

}
::placeholder{
    color: black;
    padding:2px;
    font-size: 14.5px;
    font-weight: 500;
}

@media (max-width: 480px) {
  .btn-div {
    width: 45%;
    margin: auto;
    padding: 5px;
    display: block;
  }
  .time {
    font-size: 40px;
    padding-left: 58px;
  }
  .btn-div > button {
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .ipdiv_small > input {
    width: 80%;
    height: 20px;
  }
  .ipdiv_small > button {
    padding: 1.5px 10px;
  }
  .iptext{
    font-size: 8px;
}
.time > span{
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .btn-div {
    width: 45%;
    display: flex;
    margin-left: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
  }
 .btn-div > button {
    padding: 10px 30px;
    margin-left: 8px;
  }
}
