*{
  box-sizing: border-box;
}
.btn-cont {
  width: 45%;
  margin: auto;
  border: 5px solid #0f0e0e;
  border-top: none;
  background-color: #bccc9a;
}
.timerlogo {
  width: 27px;
}
.titlediv {
  text-align: center;
  padding-top: 5px;
  color: #e2dcc8;
}
.title {
  color: #f54748;
}

.time {
  padding-left: 50px;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffffff;
}

.timediv > p {
  color: #f15412;
}
.time > span {
  font-size: 40px;
}



